.jumbotron {
    background-color: yellow;
    color: red;
    margin-top: 50px;
    margin-bottom: 0px;
}

.btn_reserva {
    width: 100%;
    border-radius: 10px;
}

.card_hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: blueviolet;
    margin-top: 10px;
    margin-bottom: 5px;
}